#game {
	height: 1000px;
	width: 100%;
	text-align: center;
	font-size: 25px;
}
.col-lg-7 h5 {
	font-style: italic;
}

input {
	border: 2px solid gray;
	font-family: Helvetica, sans-serif;
	color: black;
}

#game {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 1.0em;
}

/* viewport height */
/* getElementnyID('mysection')
	height=1000px;

	postioning: absolute;(at the bottom)